body {
	font-size: 15px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}
#live-info {
	margin: 20px, 0, 0, 10px;
}
.artist {
	font-size:1.2em;
	font-weight: 400;
}
.title {
	font-size: 1.5em;
}

@media (max-width:1100px) {


	#live-info {
	    font-size:50px;
	}
	.album-art {
    	width: 750px;
    	height: 750px;
    }
}